Repository goatcorp/Dalamud, pull requests merged in 2021-07, with the labels that each got.

#393 Add switch to allow for loading plugins of all API levels
  Dalamud/Configuration/Internal/DalamudConfiguration.cs
  Dalamud/Interface/Internal/DalamudInterface.cs
  Dalamud/Plugin/Internal/LocalPlugin.cs
  Dalamud/Plugin/Internal/PluginManager.cs
Labels: core, plugin-api

#415 XivChatEntry should use SeString
  Dalamud/Game/ChatHandlers.cs
  Dalamud/Game/Internal/Gui/ChatGui.cs
  Dalamud/Game/Text/SeStringHandling/Payload.cs
  Dalamud/Game/Text/SeStringHandling/Payloads/NewLinePayload.cs
  Dalamud/Game/Text/SeStringHandling/SeString.cs
  Dalamud/Game/Text/XivChatEntry.cs
  Dalamud/Plugin/Internal/PluginManager.cs
Labels: core

#406 Feat: Unsafe actors AND Fate table
  Dalamud.CorePlugin/GlobalSuppressions.cs
  Dalamud.CorePlugin/PluginImpl.cs
  Dalamud/Dalamud.csproj
  Dalamud/Game/ClientState/Actors/ActorTable.cs
  Dalamud/Game/ClientState/Actors/Resolvers/BaseResolver.cs
  Dalamud/Game/ClientState/Actors/Resolvers/ClassJob.cs
  Dalamud/Game/ClientState/Actors/Resolvers/World.cs
  Dalamud/Game/ClientState/Actors/Targets.cs
  Dalamud/Game/ClientState/Actors/Types/Actor.cs
  Dalamud/Game/ClientState/Actors/Types/ActorOffsets.cs
  Dalamud/Game/ClientState/Actors/Types/Chara.cs
  Dalamud/Game/ClientState/Actors/Types/CustomizeIndex.cs
  Dalamud/Game/ClientState/Actors/Types/NonPlayer/BattleNpc.cs
  Dalamud/Game/ClientState/Actors/Types/NonPlayer/EventObj.cs
  Dalamud/Game/ClientState/Actors/Types/NonPlayer/Npc.cs
  Dalamud/Game/ClientState/Actors/Types/ObjectKind.cs
  Dalamud/Game/ClientState/Actors/Types/PartyMember.cs
  Dalamud/Game/ClientState/Actors/Types/PlayerCharacter.cs
  Dalamud/Game/ClientState/Actors/Types/StatusFlags.cs
  Dalamud/Game/ClientState/ClientState.cs
  Dalamud/Game/ClientState/ClientStateAddressResolver.cs
  Dalamud/Game/ClientState/Fates/FateTable.cs
  Dalamud/Game/ClientState/Fates/Types/Fate.cs
  Dalamud/Game/ClientState/Fates/Types/FateOffsets.cs
  Dalamud/Game/ClientState/Fates/Types/FateState.cs
  Dalamud/Game/ClientState/Resolvers/BaseResolver{T}.cs
  Dalamud/Game/ClientState/Resolvers/ClassJobResolver.cs
  Dalamud/Game/ClientState/Resolvers/FateResolver.cs
  Dalamud/Game/ClientState/Resolvers/TerritoryTypeResolver.cs
  Dalamud/Game/ClientState/Resolvers/WorldResolver.cs
  Dalamud/Game/ClientState/Structs/Actor.cs
  Dalamud/Game/ClientState/Structs/GamepadInput.cs
  Dalamud/Game/ClientState/Structs/JobGauge/BLMGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/BRDGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/DNCGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/DRGGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/DRKGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/GNBGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/MCHGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/MNKGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/NINGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/PLDGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/RDMGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/SAMGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/SCHGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/SMNGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/WARGauge.cs
  Dalamud/Game/ClientState/Structs/JobGauge/WHMGauge.cs
  Dalamud/Game/ClientState/Structs/PartyMember.cs
  Dalamud/Game/Position3.cs
  Dalamud/GlobalSuppressions.cs
  Dalamud/Interface/Internal/Windows/DataWindow.cs
  Dalamud/Memory/MemoryHelper.cs
Labels: core, enhancement

#416 Context menu for installed plugins & plugin resets
  Dalamud/Configuration/PluginConfigurations.cs
  Dalamud/Interface/Internal/Windows/PluginInstallerWindow.cs
  Dalamud/Plugin/Internal/LocalPlugin.cs
  Dalamud/Plugin/Internal/PluginManager.cs
Labels: core, net5-issue
