Repository goatcorp/Dalamud, pull requests merged in 2023-09, with the labels that each got.

#1351 [v9] Make Wine Checks More Resilient
  Dalamud.Boot/dllmain.cpp
  Dalamud.Boot/utils.cpp
  Dalamud.Boot/utils.h
  Dalamud/EntryPoint.cs
  Dalamud/Utility/Util.cs
Labels: plugin-api

#1386 [v9] Bump Lumina to 3.11.0
  Dalamud.CorePlugin/Dalamud.CorePlugin.csproj
  Dalamud/Dalamud.csproj
Labels: dependencies

#1378 [v9] Move GPose check to ClientState
  Dalamud/Game/ClientState/ClientState.cs
  Dalamud/Interface/UiBuilder.cs
  Dalamud/Plugin/Services/IClientState.cs
Labels: plugin-api

#1281 Add IChatGui (v9)
  Dalamud/Game/ChatHandlers.cs
  Dalamud/Game/Gui/ChatGui.cs
  Dalamud/Plugin/Internal/PluginManager.cs
  Dalamud/Plugin/Services/IChatGui.cs
Labels: plugin-api

#1369 DTRBar Tooltips & OnClick Events
  Dalamud/Game/AddonEventManager/AddonCursorType.cs
  Dalamud/Game/AddonEventManager/AddonEventListener.cs
  Dalamud/Game/AddonEventManager/AddonEventManager.cs
  Dalamud/Game/AddonEventManager/AddonEventManagerAddressResolver.cs
  Dalamud/Game/AddonEventManager/AddonEventType.cs
  Dalamud/Game/Gui/Dtr/DtrBar.cs
  Dalamud/Game/Gui/Dtr/DtrBarAddressResolver.cs
  Dalamud/Game/Gui/Dtr/DtrBarEntry.cs
  Dalamud/Plugin/Services/IAddonEventManager.cs
  Dalamud/Plugin/Services/IDtrBar.cs
Labels: plugin-api

#1384 Add ClientStatePluginScoped
  Dalamud/Game/ClientState/ClientState.cs
  Dalamud/Game/DutyState/DutyState.cs
  Dalamud/Game/Network/Internal/NetworkHandlers.cs
  Dalamud/Interface/Internal/Windows/SelfTest/AgingSteps/EnterTerritoryAgingStep.cs
  Dalamud/Interface/Internal/Windows/SelfTest/AgingSteps/LoginEventAgingStep.cs
  Dalamud/Interface/Internal/Windows/SelfTest/AgingSteps/LogoutEventAgingStep.cs
  Dalamud/Plugin/Services/IClientState.cs
  Dalamud/Utility/EventHandlerExtensions.cs
Labels: plugin-api

#1383 Add GameConfigPluginScoped
  Dalamud/Game/Config/GameConfig.cs
  Dalamud/Game/Config/GameConfigSection.cs
  Dalamud/Plugin/Services/IGameConfig.cs
Labels: plugin-api, oh no

#1340 IHookProvider service, no static hook creation, fix SignatureHelper
  Dalamud/Hooking/Hook.cs
  Dalamud/Hooking/IDalamudHook.cs
  Dalamud/Hooking/Internal/GameInteropProviderPluginScoped.cs
  Dalamud/Plugin/Services/IGameInteropProvider.cs
  Dalamud/Utility/Signatures/SignatureHelper.cs
Labels: plugin-api
